<div class="panel panel-default">
  <div class="panel-heading">Pick a logger</div>   
  <ul>
  <%= for logger <- @loggers do %>
    <li><a href="/loggers/<%= logger[:id] %>"><%= logger[:name] %></a></li>
  <% end %>
  </ul>
</div>
  
    
